ErrorDocument 404 /404.shtml

Options FollowSymLinks ExecCGI Includes Indexes
AddHandler cgi-script .pl
DirectoryIndex index.pl index.shtml index.html

Redirect permanent /index.html http://dev.macperl.org/
Redirect permanent /build.html http://dev.macperl.org/?build
Redirect permanent /mmp http://dev.macperl.org/cgi-bin/mmp.plx
