/* $Id$ */

BODY		{
	font-family: "Times New Roman";
	font-size: 12px;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}

A:link		{
	color: rgb(  0,   0, 170);
	text-decoration: none;
}

A:visited	{
	color: rgb(  0,   0, 170);
	text-decoration: none;
}

A:active	{
	background-color: yellow;
	color: rgb(170,   0,  0);
	text-decoration: none;
}

A:hover		{
	background-color: yellow;
	color: rgb(170,   0,  0);
	text-decoration: none;
}

.even		{
	background-color: rgb(170, 170, 255);
	color: rgb(0, 0, 0);
}

.neutral	{
	background-color: rgb(127, 127, 127);
	color: rgb(0, 0, 0);
}

.odd		{
	background-color: rgb(170, 170, 170);
	color: rgb(0, 0, 0);
}

.good		{
	background-color: rgb(  0, 170,   0);
	color: rgb(0, 0, 0);
}

.ngood		{
	background-color: rgb(170, 170,   0);
	color: rgb(0, 0, 0);
}

.bad		{
	background-color: rgb(170,   0,   0);
	color: rgb(0, 0, 0);
}

.na		{
	background-color: rgb(170, 170, 170);
	color: rgb(0, 0, 0);
}

IMG		{
	border-style: none;
	float: left;
}

.center		{
	text-align: center;
	float: none;
}

P.menu		{
	text-align: center;
	font-weight: bold;
}

.links		{
	font-size: 9px;
	font-family: verdana, "Times New Roman", serif;
	background-color: rgb(210, 210, 210);
	color: rgb(0, 0, 0);
	width: 120px;
}

P.notes		{ font-size: 9px					}
H1.head		{ text-align: center					}
H1,H2		{ font-family: verdana, "Times New Roman", serif	}
H1		{ font-size: 24px					}
H2		{ font-size: 18px					}

PRE,TT,CODE	{
	font-family: ProFont, Monaco, monospace;
	font-size: 9px;
}
